.env
.venv
.ssh
project/local_settings.py
local_settings*.py
mediaroot/
staticroot/
doc/build/
database.db
project/database.db
celerybeat-schedule.db
celerybeat.pid
Pipfile
*.pyc
*.env
*.egg-info
*.orig
*.pyc
*.swp
*.swo
.cache
.coverage
.directory
.DS_Store
.fseventsd
.git
.mypy_cache
.Spotlight*
.Trashes
newrelic.ini
pip-log.txt
.coverage
.tox
nosetests.xml
